<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="center-image">
    <img class="mb-4" src="/assets/face.png" alt="" width="72" height="57">
  </div>

  <div class="message">
    <h1 class="h3 mb-3 fw-normal">Facebookを使う仲間と繋がりを深められます。</h1>
  </div>

  <div class="form-floating">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="form-floating">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>

  <%= f.submit "Log in", class: "w-100 btn btn-lg btn-primary" %>
<% end %>